# 忽略所有内容
*

!.gitignore
!calc.py
!README.md
!run.sh

!img2abs/
!baselines/
!baselines/cot/
!baselines/standard/
!vat/
!img2abs/**

!baselines/cot/*.py
!vat/*.py
!baselines/standard/*.py
!baselines/*.sh

*.log
*.pth

!baselines/
!baselines/cot/
!baselines/standard/
!vat/
